<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
</head>

<body>
	<h1 th:text="${title}"></h1>
	<div th:text="${checkMsgLogin}"></div>
	<form th:action="@{/login}" th:object="${loginInfo}">
		<dl>
			<dt><!--メール-->
				<label for="email">
					[メール]
				</label>
			</dt>
			<dd>
				<input type="text" th:field="*{email}">
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red"></div>
			</dd>
			<dt><!--パスワード-->
				<label for="passwd">
					[パスワード]
				</label>
			</dt>
			<dd>
				<input type="password" th:field="*{passwd}">
				<div th:if="${#fields.hasErrors('passwd')}" th:errors="*{passwd}" style="color:red"></div>
			</dd>
		</dl>
		<p>
				<button type="submit" name="btn">ログイン</button>
		</p>
	</form>
	<hr>
	<a th:href="@{/user/input}">ユーザ登録</a>
	<!--/* PROGRAM COMMENT */-->
</body>

</html>